In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [47]:
train = pd.read_csv("Datasets/movies_train.csv" , encoding='cp949')
test = pd.read_csv('Datasets/movies_test.csv' , encoding='cp949')
submission = pd.read_csv('Datasets/submission.csv' , encoding='cp949')

In [48]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [49]:
test.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor
0,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,300529.000,2,304,3
1,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,342700.250,4,275,3
2,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4206610.667,3,419,7
3,의형제,(주)쇼박스,액션,2010-02-04,116,15세 관람가,장훈,691342.000,2,408,2
4,평행 이론,CJ 엔터테인먼트,공포,2010-02-18,110,15세 관람가,권호영,31738.000,1,380,1

In [50]:
submission.head()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

### 배급사 전처리

In [51]:
train['distributor'] = train.distributor.str.replace("(주)", '')
test['distributor'] = test.distributor.str.replace("(주)", '')

In [52]:
train.distributor.head()

0       롯데엔터테인먼트
1          ()쇼박스
2          ()쇼박스
3          ()NEW
4    쇼박스()미디어플렉스
Name: distributor, dtype: object

문자, 숫자가 아닌 text를 찾아서 삭제하기

In [53]:
train['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in train.distributor]
test['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in test.distributor]

In [54]:
train.distributor.head()

0     롯데엔터테인먼트
1          쇼박스
2          쇼박스
3          NEW
4    쇼박스미디어플렉스
Name: distributor, dtype: object

In [55]:
set(train.distributor.values)

{'BoXoo엔터테인먼트',
 'CGV무비꼴라쥬',
 'CGV아트하우스',
 'CJCGV',
 'CJEMPictures',
 'CJEM영화부문',
 'CJ엔터테인먼트',
 'JK필름',
 'KBS미디어',
 'KT',
 'KTG상상마당',
 'M2픽처스',
 'NEW',
 'OAL올',
 'SBS콘텐츠허브',
 'SK텔레콤',
 'SK플래닛',
 'THE픽쳐스',
 'tvN',
 'ysfilm',
 '건시네마',
 '고구마공작소',
 '고앤고필름',
 '골든타이드픽처스',
 '김기덕필름',
 '나우콘텐츠',
 '나이너스엔터테인먼트',
 '노바엔터테인먼트',
 '노버스엔터테인먼트',
 '대명문화공장',
 '더피플',
 '더픽쳐스',
 '더픽쳐스마운틴픽쳐스',
 '동국대학교충무로영상제작센터',
 '두엔터테인먼트',
 '두타연',
 '드림로드',
 '드림팩트엔터테인먼트',
 '디마엔터테인먼트',
 '디씨드',
 '랠리버튼',
 '레인보우팩토리',
 '로드하우스',
 '롤러코스터프로덕션',
 '롯데엔터테인먼트',
 '리틀빅픽처스',
 '리틀빅픽쳐스',
 '마노엔터테인먼트',
 '마법사필름',
 '마운틴픽처스',
 '마운틴픽쳐스',
 '마인스엔터테인먼트',
 '머니필름',
 '머스트씨무비',
 '메가박스플러스엠',
 '무비꼴라쥬',
 '미디어데이',
 '미라클필름',
 '백두대간',
 '보람엔터테인먼트',
 '브릿지웍스',
 '사람과사람들',
 '상구네필름',
 '새인컴퍼니',
 '서울독립영화제',
 '쇼박스',
 '쇼박스미디어플렉스',
 '스마일이엔티',
 '스크린조이',
 '스토리셋',
 '스톰픽쳐스코리아',
 '스튜디오느림보',
 '스튜디오블루',
 '스튜디오후크',
 '스폰지',
 '스폰지이엔티',
 '시너지',
 '시네마달',
 '시네마서비스',
 '싸이더스',
 '싸이더스FNH',
 '씨너스엔터테인먼트',
 '씨네굿필름',
 '씨네그루키다리이엔티',
 '씨엠닉스',
 '아방가르드필름',
 '아우라픽처스',
 '아이필름코퍼레이션',
 '액티버스엔터테인먼트',
 '어뮤즈',
 '어썸피플',
 '에스와이코마드',
 '에스피엠',
 '에이블엔터테인먼트',
 '에이원엔터테인먼트',
 '엣나인필름',
 '영구아트무비',
 '영화사',
 '영화사조아',
 '영화사조제',
 '영화사진진',
 '영화제작전원사',
 '영희야놀자',
 '예지림엔터테인먼트',
 '오퍼스픽쳐스',
 '온비즈넷',
 '와이드릴리즈',
 '웃기씨네',
 '위더스필름',
 '위드시네마',
 '유니버설픽쳐스인터내셔널코리아',
 '유비네트워크',
 '유비콘텐츠',
 '이달투',
 '이모션픽처스',
 '이상우필름',
 '이스트스카이필름',
 '이십세기폭스코리아',
 '인디스토리',
 '인디플러그',
 '인벤트디',
 '인터콘미디어',
 '인피니티엔터테인먼트',
 '쟈비스미디어',
 '전국제영화제',
 '전망좋은영화사',
 '제나두엔터테인먼트',
 '조이앤시네마',
 '조이앤컨텐츠그룹',
 '찬란',
 '케이알씨지',
 '케이엠스타',
 '콘텐츠윙',
 '콘텐츠판다',
 '크리에이티브컴즈',
 '키노아이',
 '키노엔터테인먼트',
 '타임스토리그룹',
 '트리필름',
 '파이오니아21',
 '판다미디어',
 '판씨네마',
 '팜코리아미디어',
 '팝엔터테인먼트',
 '팝파트너스',
 '패뷸러스',
 '패스파인더씨앤씨',
 '퍼스트런',
 '프레인글로벌',
 '프로젝트엠피',
 '프리비젼엔터테인먼트',
 '피터팬픽쳐스',
 '필라멘트픽쳐스',
 '필름라인',
 '하준사',
 '한국YWCA연합회',
 '홀리가든',
 '화앤담이엔티',
 '휘엔터테인먼트'}

같은 계열사의 배급사들을 하나로 통합하기

In [56]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x :
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    else :
        return x

In [57]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = test.distributor.apply(get_dis)

In [58]:
set(train.distributor.values)

{'BoXoo엔터테인먼트',
 'CJ',
 'JK필름',
 'KBS미디어',
 'KT',
 'KTG상상마당',
 'M2픽처스',
 'NEW',
 'OAL올',
 'SBS콘텐츠허브',
 'SK',
 'THE픽쳐스',
 'tvN',
 'ysfilm',
 '건시네마',
 '고구마공작소',
 '고앤고필름',
 '골든타이드픽처스',
 '김기덕필름',
 '나우콘텐츠',
 '나이너스엔터테인먼트',
 '노바엔터테인먼트',
 '노버스엔터테인먼트',
 '대명문화공장',
 '더피플',
 '더픽쳐스',
 '동국대학교충무로영상제작센터',
 '두엔터테인먼트',
 '두타연',
 '드림로드',
 '드림팩트',
 '디마엔터테인먼트',
 '디씨드',
 '랠리버튼',
 '레인보우팩토리',
 '로드하우스',
 '롤러코스터프로덕션',
 '롯데엔터테인먼트',
 '리틀빅픽처스',
 '마노엔터테인먼트',
 '마법사필름',
 '마운틴픽처스',
 '마인스',
 '머니필름',
 '머스트씨무비',
 '메가박스',
 '무비꼴라쥬',
 '미디어데이',
 '미라클필름',
 '백두대간',
 '보람엔터테인먼트',
 '브릿지웍스',
 '사람과사람들',
 '상구네필름',
 '새인컴퍼니',
 '서울독립영화제',
 '쇼박스',
 '스마일이엔티',
 '스크린조이',
 '스토리셋',
 '스톰픽쳐스코리아',
 '스튜디오느림보',
 '스튜디오블루',
 '스튜디오후크',
 '스폰지',
 '시너지',
 '시네마달',
 '시네마서비스',
 '싸이더스',
 '씨너스엔터테인먼트',
 '씨네굿필름',
 '씨네그루키다리이엔티',
 '씨엠닉스',
 '아방가르드필름',
 '아우라픽처스',
 '아이필름코퍼레이션',
 '액티버스엔터테인먼트',
 '어뮤즈',
 '어썸피플',
 '에스와이코마드',
 '에스피엠',
 '에이블엔터테인먼트',
 '에이원',
 '엣나인필름',
 '영구아트무비',
 '영화사',
 '영화사조아',
 '영화사조제',
 '영화사진진',
 '영화제작전원사',
 '영희야놀자',
 '예지림엔터테인먼트',
 '오퍼스픽쳐스',
 '온비즈넷',
 '와이드릴리즈',
 '웃기씨네',
 '위더스필름',
 '위드시네마',
 '유니버설픽쳐스인터내셔널코리아',
 '유비네트워크',
 '유비콘텐츠',
 '이달투',
 '이모션픽처스',
 '이상우필름',
 '이스트스카이필름',
 '이십세기폭스코리아',
 '인디스토리',
 '인디플러그',
 '인벤트디',
 '인터콘미디어',
 '인피니티엔터테인먼트',
 '쟈비스미디어',
 '전국제영화제',
 '전망좋은영화사',
 '제나두엔터테인먼트',
 '조이앤시네마',
 '조이앤컨텐츠그룹',
 '찬란',
 '케이알씨지',
 '케이엠스타',
 '콘텐츠윙',
 '콘텐츠판다',
 '크리에이티브컴즈',
 '키노아이',
 '키노엔터테인먼트',
 '타임스토리그룹',
 '트리필름',
 '파이오니아21',
 '판다미디어',
 '판씨네마',
 '팜코리아미디어',
 '팝엔터테인먼트',
 '팝파트너스',
 '패뷸러스',
 '패스파인더씨앤씨',
 '퍼스트런',
 '프레인글로벌',
 '프로젝트엠피',
 '프리비젼엔터테인먼트',
 '피터팬픽쳐스',
 '필라멘트픽쳐스',
 '필름라인',
 '하준사',
 '한국YWCA연합회',
 '홀리가든',
 '화앤담이엔티',
 '휘엔터테인먼트'}

### 장르별 영화 관객수 평균값으로 랭크 인코딩

In [59]:
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [61]:
train['genre_rank'] = train.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})
test['genre_rank'] = test.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})

In [62]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,11
1,내부자들,쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,12
2,은밀하게 위대하게,쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,11
3,나는 공무원이다,NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,9
4,불량남녀,쇼박스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,9

### 배급사별 영화 관객수 중위값 기준으로 배급사 랭크 인코딩

__Series.reset_index__: index가 불필요해서 column으로 지정해야 되는 경우에 사용.

In [72]:
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')
tr_nm_rank

    distributor   num_rank
110  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
52       사람과사람들       42.0
97        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
113     전망좋은영화사  1214237.0
105   이십세기폭스코리아  1422844.0
56          쇼박스  2138560.0
84       영구아트무비  2541603.0
75    아이필름코퍼레이션  3117859.0

[147 rows x 2 columns]

In [74]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])]

In [75]:
tr_nm_rank

    distributor  num_rank
110  인피니티엔터테인먼트         1
15       고구마공작소         2
52       사람과사람들         3
97        위드시네마         4
19        나우콘텐츠         5
..          ...       ...
113     전망좋은영화사       143
105   이십세기폭스코리아       144
56          쇼박스       145
84       영구아트무비       146
75    아이필름코퍼레이션       147

[147 rows x 2 columns]

### 최종 데이터 병합

In [76]:
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,11
1,내부자들,쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,12
2,은밀하게 위대하게,쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,11
3,나는 공무원이다,NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,9
4,불량남녀,쇼박스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,8
596,파파로티,쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,8
597,살인의 강,마운틴픽처스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,7
598,악의 연대기,CJ,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,12
599,베를린,CJ,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,11

In [78]:
train = pd.merge(train, tr_nm_rank, how = 'left')

In [81]:
test = pd.merge(test, tr_nm_rank, how = 'left')

__테스트 데이터 결측값 처리__

In [82]:
train.isnull().sum()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    330
dir_prev_num        0
num_staff           0
num_actor           0
box_off_num         0
genre_rank          0
num_rank            0
dtype: int64

In [83]:
test.isnull().sum()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    136
dir_prev_num        0
num_staff           0
num_actor           0
genre_rank          0
num_rank           31
dtype: int64

In [94]:
test.fillna(0, inplace = True)

In [95]:
test.isnull().sum()

title             0
distributor       0
genre             0
release_time      0
time              0
screening_rat     0
director          0
dir_prev_bfnum    0
dir_prev_num      0
num_staff         0
num_actor         0
genre_rank        0
num_rank          0
dtype: int64

### 모델링 데이터 구성

* 타겟 값인 관객수를 로그변환  
* 상영등급은 더미 변수  
* 출연 배우 수는 로그 변환

In [98]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from ngboost import NGBRegressor

In [99]:
X = train[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]
y = np.log1p(train.box_off_num)

In [102]:
X = pd.get_dummies(columns = ['screening_rat'], data = X)

In [103]:
X.head()

,num_rank,time,num_staff,num_actor,genre_rank,screening_rat_12세 관람가,screening_rat_15세 관람가,screening_rat_전체 관람가,screening_rat_청소년 관람불가
0,134,96,91,2,11,0,0,0,1
1,145,130,387,3,12,0,0,0,1
2,145,123,343,4,11,0,1,0,0
3,140,101,20,6,9,0,0,1,0
4,145,108,251,2,9,0,1,0,0

In [106]:
X.num_actor.describe()

count    600.000000
mean       3.706667
std        2.446889
min        0.000000
25%        2.000000
50%        3.000000
75%        4.000000
max       25.000000
Name: num_actor, dtype: float64

In [107]:
X['num_actor'] = np.log1p(X['num_actor'])

In [108]:
X.num_actor.describe()

count    600.000000
mean       1.446130
std        0.446256
min        0.000000
25%        1.098612
50%        1.386294
75%        1.609438
max        3.258097
Name: num_actor, dtype: float64

In [109]:
target = test[['num_rank', 'time', 'num_staff', 'num_actor', 'genre_rank', 'screening_rat']]
target = pd.get_dummies(columns = ['screening_rat'], data = target)
target['num_actor'] = np.log1p(target['num_actor'])

10 fold로 교차검증

In [110]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

### GradientBoostingRegressor

In [111]:
gbm = GradientBoostingRegressor(random_state = 42)

In [115]:
rmse_list = []
gb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    gbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in gbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in gbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    gb_pred += (sub_pred / 10)

In [122]:
np.mean(rmse_list)

1174378.9765191542

### NGBRegressor

In [128]:
ngb = NGBRegressor(random_state = 518)

In [135]:
rmse_list = []
ngb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    ngb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in ngb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in ngb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    ngb_pred += (sub_pred / 10)

[iter 0] loss=0.8012 val_loss=0.0000 scale=1.0000 norm=0.7501
[iter 100] loss=0.7809 val_loss=0.0000 scale=0.5000 norm=0.3696
[iter 200] loss=0.7665 val_loss=0.0000 scale=0.2500 norm=0.1831
[iter 300] loss=0.7549 val_loss=0.0000 scale=0.5000 norm=0.3636
[iter 400] loss=0.7539 val_loss=0.0000 scale=0.0010 norm=0.0007
[iter 0] loss=0.7680 val_loss=0.0000 scale=0.5000 norm=0.3710
[iter 100] loss=0.7431 val_loss=0.0000 scale=0.5000 norm=0.3633
[iter 200] loss=0.7287 val_loss=0.0000 scale=0.2500 norm=0.1796
[iter 300] loss=0.7180 val_loss=0.0000 scale=1.0000 norm=0.7126
[iter 400] loss=0.7078 val_loss=0.0000 scale=0.1250 norm=0.0884
[iter 0] loss=0.7148 val_loss=0.0000 scale=0.5000 norm=0.3588
[iter 100] loss=0.6969 val_loss=0.0000 scale=0.1250 norm=0.0881
[iter 200] loss=0.6894 val_loss=0.0000 scale=0.1250 norm=0.0875
[iter 300] loss=0.6867 val_loss=0.0000 scale=0.5000 norm=0.3496
[iter 400] loss=0.6855 val_loss=0.0000 scale=0.0078 norm=0.0055
[iter 0] loss=0.7067 val_loss=0.0000 scale=1.0000 norm=0.7112
[iter 100] loss=0.6885 val_loss=0.0000 scale=0.5000 norm=0.3499
[iter 200] loss=0.6794 val_loss=0.0000 scale=0.2500 norm=0.1739
[iter 300] loss=0.6670 val_loss=0.0000 scale=0.1250 norm=0.0861
[iter 400] loss=0.6602 val_loss=0.0000 scale=0.2500 norm=0.1714
[iter 0] loss=0.7015 val_loss=0.0000 scale=1.0000 norm=0.7205
[iter 100] loss=0.6427 val_loss=0.0000 scale=0.5000 norm=0.3389
[iter 200] loss=0.6163 val_loss=0.0000 scale=1.0000 norm=0.6635
[iter 300] loss=0.5960 val_loss=0.0000 scale=0.2500 norm=0.1640
[iter 400] loss=0.5776 val_loss=0.0000 scale=0.5000 norm=0.3249
[iter 0] loss=0.6272 val_loss=0.0000 scale=0.5000 norm=0.3534
[iter 100] loss=0.5935 val_loss=0.0000 scale=0.5000 norm=0.3387
[iter 200] loss=0.5731 val_loss=0.0000 scale=0.5000 norm=0.3314
[iter 300] loss=0.5615 val_loss=0.0000 scale=0.5000 norm=0.3279
[iter 400] loss=0.5512 val_loss=0.0000 scale=0.5000 norm=0.3250
[iter 0] loss=0.5903 val_loss=0.0000 scale=1.0000 norm=0.6712
[iter 100] loss=0.5513 val_loss=0.0000 scale=1.0000 norm=0.6374
[iter 200] loss=0.5352 val_loss=0.0000 scale=0.1250 norm=0.0783
[iter 300] loss=0.5295 val_loss=0.0000 scale=0.1250 norm=0.0781
[iter 400] loss=0.5261 val_loss=0.0000 scale=0.0312 norm=0.0195
[iter 0] loss=0.5315 val_loss=0.0000 scale=1.0000 norm=0.6488
[iter 100] loss=0.4980 val_loss=0.0000 scale=0.2500 norm=0.1549
[iter 200] loss=0.4841 val_loss=0.0000 scale=0.5000 norm=0.3072
[iter 300] loss=0.4780 val_loss=0.0000 scale=0.0020 norm=0.0012
[iter 400] loss=0.4778 val_loss=0.0000 scale=0.0010 norm=0.0006
[iter 0] loss=0.5547 val_loss=0.0000 scale=0.5000 norm=0.3316
[iter 100] loss=0.5182 val_loss=0.0000 scale=0.2500 norm=0.1575
[iter 200] loss=0.5023 val_loss=0.0000 scale=1.0000 norm=0.6225
[iter 300] loss=0.4915 val_loss=0.0000 scale=0.0312 norm=0.0193
[iter 400] loss=0.4823 val_loss=0.0000 scale=0.2500 norm=0.1539
[iter 0] loss=0.4897 val_loss=0.0000 scale=0.5000 norm=0.3119
[iter 100] loss=0.4804 val_loss=0.0000 scale=0.1250 norm=0.0773
[iter 200] loss=0.4724 val_loss=0.0000 scale=0.5000 norm=0.3077
[iter 300] loss=0.4621 val_loss=0.0000 scale=0.2500 norm=0.1534
[iter 400] loss=0.4539 val_loss=0.0000 scale=0.5000 norm=0.3056

In [136]:
np.mean(rmse_list)

1490631.2154156277

### LGBMRegressor

In [137]:
lgbm = LGBMRegressor(random_state = 518)

In [138]:
rmse_list = []
lgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    lgb_pred += (sub_pred / 10)

In [139]:
np.mean(rmse_list)

1213815.0440528719

### XGBRegressor

In [147]:
xgb = XGBRegressor(random_state = 518)

In [148]:
rmse_list = []
xgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    xgb_pred += (sub_pred / 10)

In [149]:
np.mean(rmse_list)

1437735.1546705803

### CatBoostRegressor

In [140]:
cat = CatBoostRegressor(random_state = 518, silent = True)

In [141]:
rmse_list = []
cat_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    cat.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in cat.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in cat.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    cat_pred += (sub_pred / 10)

In [142]:
np.mean(rmse_list)

1078083.3505434636

### RandomForestRegressor

In [143]:
rf = RandomForestRegressor(random_state = 518)

In [144]:
rmse_list = []
rf_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in rf.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in rf.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)

In [145]:
np.mean(rmse_list)

872738.262092494

### 최종 예측 결과 블렌딩

In [150]:
submission['box_off_num'] = (xgb_pred + cat_pred + lgb_pred + rf_pred + gb_pred + ngb_pred) / 6

In [151]:
submission.to_csv("1229.csv", index = False)

In [155]:
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,genre_rank,num_rank
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,11,134
1,내부자들,쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,12,145
2,은밀하게 위대하게,쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,11,145
3,나는 공무원이다,NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,9,140
4,불량남녀,쇼박스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,9,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,8,140
596,파파로티,쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,8,145
597,살인의 강,마운틴픽처스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,7,46
598,악의 연대기,CJ,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,12,141
599,베를린,CJ,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,11,141